<div
  class="container p-5 d-flex flex-column justify-content-center align-items-center"
>
  <h1>TITTLE HTTP & LOGIN</h1>
  <div>
    <button class="btn btn-primary m-2" (click)="toHome()">GoHome</button>
    <button class="btn btn-primary m-2" (click)="toGetOnclick()">
      GoOnclickRoute
    </button>
    <button class="btn btn-primary m-2" (click)="toGetOnInit()">
      GoOnInit
    </button>

    <button class="btn btn-primary m-2" (click)="toLogin()">GoLogin</button>
  </div>
</div>
<router-outlet class="routerOulet"></router-outlet>
